@font-face {
    font-family: 'stayTunedFont';
    src: url('../fonts/syne/OTF/Syne-Bold.otf');
}

.aboutBannerImage{

    width: 100%;
    height: 100vh;
    margin-top: -80px;
    position: relative;
    overflow: hidden;

}

.aboutBannerImage > img{

    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    animation: bannerImageZoomAnime 10s ease;

}

@keyframes bannerImageZoomAnime {
    
    50%{

        transform: scale(1.1);
        filter: blur(0px);

    }0%, 100%{

        transform: scale(1);
        filter: blur(5px);

    }100%{

        filter: blur(0px);

    }

}

.stayTunedSection{

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, blue, aqua);

}

.stayTunedSection > h1{

    font-family: 'stayTunedFont';
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 100px;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #f9f9f9,#fefefe);
    -webkit-text-fill-color: transparent;
    padding-left: 100px;

}