@font-face {
    font-family: 'contactBannerFont';
    src: url('../fonts/syne/OTF/Syne-Bold.otf');
}

@font-face {
    font-family: 'contactDetailsBoxTitleFont';
    src: url('../fonts/syne/OTF/Syne-Bold.otf');
}

@font-face {
    font-family: 'contactDetailsBoxParaFont';
    src: url('../fonts//heebo/Heebo-Regular.ttf');
}

@font-face {
    font-family: 'contactFormHeadingFont';
    src: url('../fonts/syne/OTF/Syne-Bold.otf');
}

@font-face {
    font-family: 'contactFormInputFont';
    src: url('../fonts/heebo/Heebo-Regular.ttf');
}

@font-face {
    font-family: 'contactFromButtonFont';
    src: url('../fonts/archivo/Archivo-Medium.ttf');
}

@font-face {
    font-family: 'contactFormErrorMessage';
    src: url('../fonts//syne/OTF/Syne-Regular.otf');
}

@font-face {
    font-family: 'contactFromSubmissionFont';
    src: url('../fonts/syne/OTF/Syne-Regular.otf');
}

@font-face {
    font-family: 'engagementHeadingFont';
    src: url('../fonts/syne/OTF/Syne-Bold.otf');
}

@font-face {
    font-family: 'engagementParaFont';
    src: url('../fonts/heebo/Heebo-Regular.ttf');
}

.contactBanner{

    width: 100%;
    height: 100vh;
    margin-top: -80px;
    display: flex;
    align-items: center;
    position: relative;

}

.contactBanner > img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.contactBanner > h1{

    font-family: 'contactBannerFont';
    padding-left: 5%;
    font-size: 100px;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #fff, rgb(255, 255, 255));
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    line-height: 115px;
    filter: drop-shadow(10px 10px 5px #29292957);
    width: 1000px;

}

.contactDetailsBox{

    width: 100%;
    height: 160vh;
    position: relative;
    overflow: hidden;
    z-index: -2;

}

.contactDetailsBox > .contactSubBox{

    width: 100%;
    height: 100%;
    position: relative;
    /* overflow: hidden; */

}

.contactSubBox > .contactDetails{

    width: 100%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;

}

.contactDetails > .contactDetailsBox1{

    width: 350px;
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    position: relative;
    background-color: transparent;
    box-shadow: 5px 5px 10px #29292937;
    overflow: hidden;
}

.contactDetailsBox1 > .flipBoxInner{

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.8s ;
    transform-style: preserve-3d;
   
}

.flipBoxInner > .flipBoxFont, .flipBoxBack{

    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}

.flipBoxFont{

    background-color: #fff;
    color: #232222;

}

.flipBoxBack{

    color: #232222;
    transform:rotateY(180deg);

}

.flipBoxBack > img{

    width: 100%;
    height: 100%;
    object-fit: cover;

}

.contactDetailsBox1:hover > .flipBoxInner{

    transform: rotateY(180deg);

}

.flipBoxInner .flipBoxFont > h2{

    font-family: 'contactDetailsBoxTitleFont';
    font-size: 35px;
    font-weight: 500;
    padding-left: 20px;

}

.flipBoxInner .flipBoxFont > address{

    font-family: 'contactDetailsBoxParaFont';
    font-style: normal;
    font-size: 17px;
    line-height: 35px;
    padding-left: 20px;

}

.contactSubBox > .contactBox{

    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.contactBox > .contactMap{

    width: 50%;
    height: 70%; 

}

.contactMap > iframe {

    width: 100%;
    height: 100%;

}

.contactBox > .contactForm{

    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.contactForm > .contactHeading{

    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-end;

}

.contactHeading > h2{

    font-family: 'contactFormHeadingFont';
    padding-left: 50px;
    font-weight: 500;
    font-size: 30px;

}

.contactForm > .form{

    width: 100%;
    height: 75%;
    display: flex;
    align-items: flex-start;

}

.form > .formStyle{

    padding-top: 30px;
    padding-left: 50px;    

}

.formStyle > input{

    margin-right: 10px;
    margin-bottom:10px;
    height: 70px;
    width: 270px;
    font-family: 'contactFormInputFont';
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;

}

.formStyle > input{

    padding-left: 30px;

}

.formStyle > input::placeholder{

    color: gray;
    transition: all 0.8s ease;

} 

.formStyle > input:focus::placeholder{

    color: #232222;

} 

.formStyle > textarea{

    font-size: 18px;
    font-family: 'contactFormInputFont';
    padding-left: 30px;
    padding-top: 20px;
    letter-spacing: 1px;
    transition: all 0.8s ease;
    color: gray;

}

.formStyle textarea > :focus{
    
    color: #232222;

}

.formStyle > button{

    background-color: #fff;
    border: 1px solid #292929;
    width: 150px;
    margin-top: 10px;
    height: 50px;
    color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'contactFromButtonFont';
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
    z-index: 999;
    transition: all 0.8s ease;

}

.formStyle > button:hover{

    color: #fff;
    border: 1px solid #fff;

}

.formStyle > button::before{

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    content: "";
    background-color: #292929;
    z-index: -2;
    transition: all 0.8s ease;
    opacity: 0;

}

.formStyle > button:hover::before{

    opacity: 1;
    width: 100%;

}

.errorContactFromMessage{

    font-family: 'contactFormErrorMessage';
    letter-spacing: 1px;
    margin: 5px 0px;

}

.formSubmissionMessage{

    font-family: 'contactFromSubmissionFont';
    letter-spacing: 1px;
    margin-top: 5px 0px;

}


.contactEngagementBox{

    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;

}

.contactEngagementBox > .joinTeam{

    width: 50%;
    height: 100%;
    background-image: linear-gradient(50deg, rgba(0, 255, 255, 0.482), rgba(0, 0, 255, 0.405));
    background-size: 200% 100%;
    animation: gradientAnime 5s ease infinite alternate;
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes gradientAnime {
    
    0%{

        background-position: 0% 50%;

    }100%{

        background-position: 100%, 50%;

    }

}

.joinTeam > .textSection{

    width: 70%;

}

.joinTeam .textSection > h3{

    font-size: 45px;
    font-family: 'engagementHeadingFont';
    padding-left: 20%;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 2px;

}

.joinTeam .textSection > p{

    padding-left: 20%;
    font-family: 'engagementParaFont';
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;

}

.joinTeam > .iconSection{

    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.joinTeam .iconSection > .rightArrowIcon{

    width: 80px;
    height: 80px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;

}

.rightArrowIcon > svg{

    color: #fff;
    font-size: 35px;
    transition: all 0.8s ease;

}

.rightArrowIcon:hover > svg{

    transform: translateX(5px);

}

.contactEngagementBox > .newsLetter{

    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, #F3F3F3, #c1c1c184);
    background-size: 200% 100%;
    animation: secondGraidentAnime 5s ease infinite alternate;
    display: flex;
    align-items: center;

}

@keyframes secondGraidentAnime {

    0%{

        background-position: 0% 50%;

    }100%{

        background-position: 100% 50%;

    }
    
}

.newsLetter > .textSection{

    width: 70%;

}

.newsLetter .textSection > h3{

    font-size: 45px;
    font-family: 'engagementHeadingFont';
    font-weight: 500;
    letter-spacing: 2px;
    padding-left: 20%;
    margin-bottom: 20px;
    color: #292929;

}

.newsLetter .textSection > p{

    font-family: 'engagementParaFont';
    padding-left: 20%;
    font-size: 17px;
    letter-spacing: 1px;
    color: #292929;


}

.newsLetter > .iconSection{

    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.iconSection > .rightArrow{

    width: 80px;
    height: 80px;
    border: 1px solid #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;

}

.iconSection .rightArrow > svg{

    font-size: 35px;
    transition: all 0.8s ease;

}

.iconSection .rightArrow:hover > svg{

    transform: translateX(5px);

}