@font-face {
    font-family: 'contactEngagementScrollBarFont';
    src: url('../fonts/heebo/Heebo-Medium.ttf');
}

.scrollbar{

    position: absolute;
    left: 3%;
    background-color: blue;
    width: 1.5px;
    height: 100%;

}

.scrollbar > span{

    position: absolute;
    top: 80%;
    width: 100%;
    height: 12%;
    background-color: #fff;

}

.scrollbar > span::after{

    position: relative;
    content: "Keep Scrolling";
    left: 1rem;
    top: 0.3rem;
    font-size: 15px;
    font-family: 'contactEngagementScrollBarFont';
    color: #fff;
    letter-spacing: 1px;

}