@font-face {
    font-family: 'logofont';
    src: url('../fonts/heebo/Heebo-Bold.ttf');
}

@font-face {
    font-family: 'sideMenuTextFont';
    src: url('../fonts/heebo/Heebo-Regular.ttf');
}

@font-face {
    font-family: 'menufont';
    src: url('../fonts/archivo/Archivo-Medium.ttf');
}

@font-face {
    font-family: 'sideMenuFont';
    src: url('../fonts/syne/Webfonts/Syne-Regular.woff');
}

header{

    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 999999;

}

header > .logodiv{

    width: 20%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.logodiv > h1{

    font-family: 'logofont';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;

}

header > .navmenu{

    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.navmenu > nav{

    padding-right: 30px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}

.navmenu nav > ul {

    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    padding-right: 50px;

}

.navmenu nav ul li > a{

    text-decoration: none;
    font-family: 'menufont';
    color: #fff;
    font-size: 15px;

}

.navmenu nav > .navMenuIcon{

    width: 50px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
    z-index: 9999999;

}

.sideMenuBox{

    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #2929299e;

}

.sideMenuBox > .sideMenu{

    position: absolute;
    right: 0;
    width: 35%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.sideMenu > .sideNavMenuContent{

    width: 350px;
    height: 350px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.sideNavMenuContent > h2{

    font-family: 'sideMenuFont';
    width: 400px;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 40px;
    font-weight: 550;

}

.sideNavMenuContent > p{

    font-size: 17px;
    line-height: 25px;
    font-weight: lighter;
    font-family: 'sideMenuTextFont';

}

.sideNavMenuContent > a{

    font-family: 'sideMenuTextFont';
    font-size: 18px;
    text-decoration: none;
    color: #292929;
    background-image: linear-gradient(to left, #b113ef, blue, rgb(0, 255, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.sideMenu > .sideMenuSocialLlinks{

    width: 350px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.sideMenuSocialLlinks > a{

    font-family: 'menuFont';
    letter-spacing: 2px;
    text-decoration: none;
    color: #292929;

}

.sideMenuSocialLlinks > a:hover{

    background-image: linear-gradient(to right, rgb(56, 46, 253) 0%, #fafafa 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.navMenuIcon > span:nth-child(1){

    background-color: #fff;
    height: 2px;
    width: 50px;
    display: inline-flex;

}

.navMenuIcon > span:nth-child(2){

    background-color: #fff;
    height: 1.5px ;
    width: 30px;
    display: inline-flex;

}